<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.PeriodicalMapper">


	<select id="queryPeriodsCount" resultType="int" parameterType="map">
		SELECT count(1) FROM t_periods where perId = #{id}
		<!--<include refid="periodicalWhere"></include>-->
	</select>

	<select id="findPeriodsList" parameterType="map" resultType="com.jk.model.PeriodicalBean">
		SELECT * FROM t_periods where perId = #{id}
		<!--<include refid="periodicalWhere"></include>-->
		limit #{start},#{end }
	</select>

	<!--<sql id="periodicalWhere">
		<where>
			<if test="periodicalBean.periodicalName != null and periodicalBean.periodicalName != ''">
				and periodicalName like '%${periodicalBean.periodicalName}%'
			</if>
		</where>
	</sql>-->

	<select id="queryCount" resultType="int" parameterType="map">
		SELECT count(1) FROM t_periodical
		<include refid="periodicalWhere"></include>
	</select>

	<select id="findPeriodicalList" parameterType="map" resultType="com.jk.model.PeriodicalBean">
		SELECT * FROM t_periodical
		<include refid="periodicalWhere"></include>
		 limit #{start},#{end }
	</select>
	
	<sql id="periodicalWhere">
		<where>
			<if test="periodicalBean.periodicalName != null and periodicalBean.periodicalName != ''">
				and periodicalName like '%${periodicalBean.periodicalName}%'
			</if>
		</where>
	</sql>

	<!--<delete id="delMusic" parameterType="int">
		delete from t_music where id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="findMusicCount" parameterType="map" resultType="int">
		select count(1) from t_music tm left join t_music_type tmt on tm.typeId = tmt.id
		<include refid="musicWhere"></include>
	</select>
	<select id="findMusicList" parameterType="map" resultType="com.jk.songxj.model.MusiceBean">
		select tm.*,tmt.name as typeName from t_music tm left join t_music_type tmt on tm.typeId = tmt.id
		<include refid="musicWhere"></include>
		limit #{start},#{end}
	</select>
	<sql id="musicWhere">
		<where>
			<if test="musiceBean.name != null and musiceBean.name != ''">
				and tm.name like '%${musiceBean.name}%'
			</if>
			<if test="musiceBean.typeId != null and musiceBean.typeId != '-1'">
				and tm.typeId = #{musiceBean.typeId}
			</if>
		</where>
	</sql>-->
</mapper>
